---
import Form from "../ui/Form.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";
---

<Section id="contact">
  <div class="mb-[140px] relative">
    <SectionTitle
      sectionTitle="Let's Work Together"
      description="Have a project in mind? Want to grow your brand online? I'd love to hear from you."
    />
    <Form />
  </div>
</Section>
