---
import Accordion from "../ui/Accordion.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";

const description = "My step-by-step approach to growing your brand online.";
---

<Section id="process">
  <div class="mt-[140px]">
    <SectionTitle
      sectionTitle="How I Work"
      description={description}
    />
    <Accordion />
  </div>
</Section>